
.container-fluid {
    padding: 0;
}
nav {
    background-color: #567051;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    position: relative;
}

nav a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

nav .hover:hover {
    /* background-color: #7cb36a; */
    color: black;
}

/* Dropdown styles */
.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #567051;
    box-shadow: 0 2px 5px rgba(108, 145, 99, 0.2);
    z-index: 1;
}

.dropdown a {
    white-space: nowrap;
}

nav li:hover .dropdown {
    display: block;
}

.fade-left-animation {
    display: flex;
    justify-content: center;
    height: 75%; /* Sesuaikan tinggi container agar sesuai dengan tinggi layar */
    overflow: hidden;
}

.fade-left-animation img {
    max-width: 100%;
    height: auto;
    opacity: 0;
    animation: fadeLeft 3s ease-in-out forwards;
}

@keyframes fadeLeft {
    from {
        transform: translateX(-50%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.pesantren-footer {
    background-color: #567051;
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo img {
    width: 100px; /* Sesuaikan lebar logo */
}

.footer-info {
    text-align: right;
}

.footer-info h3 {
    margin-bottom: 10px;
}

.footer-info p {
    margin: 5px 0;
}
.fade-text {
    color: white;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px #000;
    animation: fadeInUpBig;
    animation-duration: 1s;
    animation-fill-mode: both;
    opacity: 0;
    animation: fadeInUp 2s forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Delay each fade text */
.fade-text:nth-child(2) {
    animation-delay: 1s;
}

.fade-text:nth-child(3) {
    animation-delay: 1.5s;
}

.scroll-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #768374;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.scroll-to-top-btn:hover {
    background-color: #859981;
}
