body {
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    background-color: #244d1c;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    position: relative;
}

nav a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

nav .hover:hover {
    background-color: #7cb36a;
    color: black;
}

/* Dropdown styles */
.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #244d1c;
    box-shadow: 0 2px 5px rgba(108, 145, 99, 0.2);
    z-index: 1;
}

.dropdown a {
    white-space: nowrap;
}

nav li:hover .dropdown {
    display: block;
}
hr {
    border: 4px solid 17619;
    display: block;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 5px;
}
.pro {
    display: block;
    padding: 10px 20px;
    background-color: #0e5510;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.pro:hover {
    background-color: #a1cea3;
    color: #000000;
}
.active {
    background-color: #a1cea3;
    color: #000000;
}
.p {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.p:first-child {
    margin-top: 0;
}

.p:before {
    content: '';
    display: block;
    width: 50px;
    height: 5px;
    background-color: #4CAF50;
    margin-bottom: 10px;
}
.info-data-diri {
    font-size: 17px;
    font-style: italic;
    color: #ff0000;
    margin-bottom: 10px;
    margin-top: 18px;
    padding-left: 5px;
}
.dashboard-info {
    width: 100%;
    float: left;
}
.dashboard-info .btn {
    margin-left: auto;
}
.data-dashboard {
    width: 100%;
    display: flex;
}
.col-form-label{
    font-size: 16px;
    font-weight: bold;
}
.disabled-control {
    background-color: transparent !important;
    box-shadow: none !important;
    border: none;
}
.disabled-control:focus {
    box-shadow: none !important;
}
.rowMB {
    margin-bottom: 0;
    display: flex;
}
.mobile {
    display: none;
}
.mobile-pro {
    display: block;
}
@media (max-width: 767.98px) {
    .data-dashboard {
        flex-direction: column;
    }
    .data-dashboard .col-md-3 {
        order: 1;
    }
    .data-dashboard .col-md-9 {
        order: 2;
    }
    .mobile {
        display: block;
    }
    .mobile-pro {
        display: none;
    }
}
